{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Библиотека технической документации</title>
    <link rel="stylesheet" type="text/css" href="{% static "Foundation/css/foundation.css" %}">
</head>
<body>
<div class="top-bar">
    <section class="top-bar-section">
        <ul class="right">
            {% if user.is_anonymous  %}:
                <li>
                    <form action="{% url 'loginsys:register' %}" method="post">
                        {% csrf_token %}
                        <li><input type="text" name="username"  placeholder="Имя пользователя"></li>
                        <li><input type="text" name="password" placeholder="Пароль"></li>
                        <li><input class="button" type="submit" style="width: 90px" value="Войти"></li>
                        <li><input class="button" type="submit" style="width: 90px" value="Регистрация"></li>
                    </form>
                </li>
            {% else %}
                <li><a href="">({{ user.username }}) Выйти</a> </li>
            {% endif %}
        </ul>
    </section>
</div>

<div class="row">
    <h3><a href="{% url 'index:index' %}">Библиотека технической документации</a> </h3>
</div>

<div class="row">{% block register %}{% endblock %}</div>

</body>
</html>