{% extends 'index.html' %}

{% block register %}

    <form action="" method="post">
        {% csrf_token %}
        <div>
            <div class="medium-3 columns">{{ form.username.label }}</div>
            <div class="medium-4 columns">{{ form.username }}</div>
            <div class="medium-5 columns">{{ form.username.help_text }}</div>
        </div>
        <div class="medium-offset-3"><input class="button" type="submit"></div>
    </form>


    {{ form }}
{% endblock %}